@import '../../scss/vars.scss';
@import '../../scss/mixins.scss';

.project-container {
  background-color: $grey-dark;
  text-align: center;

  .projects {
    p {
      color: $light;
    }

    &-items {
      // Media Query
      @include from-min(medium) {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
      }
    }
  }
}
