@import '../../scss/vars.scss';
@import '../../scss/mixins.scss';

.hero {
  background-image: url('../../images/hero.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: $header-height;
  width: 100%;

  &:before,
  &:after {
    background: rgba(0, 0, 0, 0.7) !important;
    z-index: 1 !important;
  }

  &-copy {
    // Media Query
    @include from-min(large) {
      flex-direction: row;
      margin: 0 auto;
      width: 50rem;
    }

    align-items: center;
    border-bottom: 2px solid #000;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
    z-index: 10;

    &__img {
      // Media Query
      @include from-min(large) {
        width: 300px;
      }
      @include from-min(medium) {
        width: 250px;
      }

      border-radius: 50%;
      border: 2px solid $grey-ligth;
      margin: 0 auto;
      width: 180px;
    }

    & .title1 {
      color: $primary;
      margin-top: 2.5rem;
      text-align: center;
    }

    & p {
      color: $light;
      font-weight: bold;
      text-align: center;
    }
  }
}
