@import '../../scss/vars.scss';
@import '../../scss/mixins.scss';

.about-container {
  background-color: $grey-dark;

  .about {
    // Media Query
    @include from-min(large) {
      display: flex;
      margin: 0 auto;
    }

    & .title2 {
      margin: 0;
    }

    & p {
      text-align: center;
    }
  }
}
