@import '../../../scss/vars.scss';
@import '../../../scss/mixins.scss';

.about-my {
  // Media Query
  @include from-min(large) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  color: $light;
  text-align: center;

  &__container {
    @include from-min(large) {
      margin-right: 10rem;
    }
  }

  button {
    background-color: $dark;
    border-radius: 10px;
    border: 2px solid $primary;
    color: $grey-ligth;
    cursor: pointer;
    font-weight: bold;
    padding: 0.5rem 2rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: $grey-ligth;
      color: $dark;
    }
  }
}
