@import '../../scss/vars.scss';
@import '../../scss/mixins.scss';

.contact-container {
  background-color: $grey-ligth;
  color: $dark;
  text-align: center;

  .contact {
    &-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 0 auto;
    }

    a {
      // Media Query
      @include from-min(medium) {
        max-width: 20%;
      }

      background-color: $dark;
      border-radius: 5px;
      border: 2px solid $primary;
      color: $light;
      margin-top: 2rem;
      padding: 1rem;
      transition: all 0.3s ease;
      width: 40%;

      &:hover {
        background-color: $grey-dark;
      }

      .icon {
        font-size: 2rem;
      }
    }
  }
}
