@import '../../scss/vars.scss';
@import '../../scss/mixins.scss';

.header-container {
  background-color: $dark;
  border-bottom: 1px solid $grey-ligth;
  height: $header-height;
  position: fixed;
  top: 0;
  transition: all 0.3s ease-out;
  width: 100%;
  z-index: 998;

  .header {
    // Media Query
    @include from-min(large) {
      height: $header-height;
    }

    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
}
