@import '../../scss/vars.scss';

.footer {
  background-color: $dark;
  color: $light;

  small {
    display: block;
    padding: 0.5rem;
    text-align: center;

    span {
      color: $primary;
      display: block;
      font-weight: bold;
    }
  }
}
