body {
  font-family: 'Ubuntu Mono', monospace, sans-serif;
  @include font(small);
  @include from-min(medium) {
    @include font(base);
  }
}

.title1 {
  @include font(title2);

  @include from-min(medium) {
    @include font(title1);
  }
}

.title2 {
  @include font(title3);

  @include from-min(medium) {
    @include font(title2);
  }
}

.title3 {
  @include font(base);

  @include from-min(medium) {
    @include font(title3);
  }
}

.base {
  @include font(small);

  @include from-min(medium) {
    @include font(base);
  }
}

.small {
  @include font(small);
}

.smaller {
  @include font(smaller);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $bold;
}

h1 {
  margin: 0;
}

.title2,
.title3 {
  margin-top: 0;
  margin-bottom: 0.5em;
}
